$btn-border: 1px solid rgb(107, 107, 107);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background-color: #FFE3A9;
}

.head-title {
    font-family: 'Pacifico';
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.etch-a-sketch {
    text-align: center;
}

.controls {
    margin-bottom: 30px;
}

input[type="text"]{
    width: 350px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.black-btn:hover {
    border: $btn-border;
    color: white;
    background-color: black;
}

.rainbow-btn:hover {
    border: 1px solid rgb(107, 107, 107);
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
}

.eraser-btn:hover{
    background-color: white;
    border: $btn-border
}

.etch-a-sketch {
    position: relative;
}

.main-grid {
    display: grid;
    width: 700px;
    height: 650px;
    border: 5px solid black;
    padding: 70px 70px 105px;
    background-color: #FF5D5D;
    border-radius: 30px;
}

.main-grid::after {
    content:'';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 36.5rem;
    box-shadow: inset -5px 8px 0 rgb(194, 194, 194);
}

.main-grid::before {
    content:'';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 15px;
    right: 36.5rem;
    box-shadow: inset -5px 8px 0 rgb(194, 194, 194);
}

.grid-element {
    background-color: hsl(0, 4%, 89%);
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .head-title{
        margin-bottom: 30px;
    }

    .container {
        transform: scale(0.5);
    }

    input[type="text"]{
        width: 50%;
    }
}