* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Poppins';
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-title {
    font-size: clamp(2.1rem, 2.5vw, 2.3rem);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.etch-a-sketch {
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

input[type="text"]{
    width: 47%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    font-weight: 600;
    padding: 10px;
}

.default-color:hover {
    border: 1px solid rgb(107, 107, 107);
    color: white;
    background-color: black;
    box-shadow: 0 5px 8px rgb(153, 153, 153);
}

.rainbow-color:hover {
    border: 1px solid rgb(107, 107, 107);
    background-color: #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
    box-shadow: 0 5px 10px rgb(201, 200, 200);
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.grid-element {
    border: 1px solid rgb(180, 180, 180);
}
